.dark-theme {
    --color-body-bg: #1D1F29;

    --color-header-bg: #20222F;
    --color-header-hr: #333A55;

    --color-switch-btn-bg: linear-gradient(225deg, #40DB82, #388FE7);
    --color-switch-btn-bg-active: linear-gradient(225deg, #40DB82, #388FE7);
    --color-switch-btn-slider: #252B42;
    --color-switch-btn-slider-active: #333A55;

    --color-card-bg: #252B42;
    --color-card-bg-hover: #333A55;

    --color-text-heading-1: #FFF;
    --color-text-heading-2: #FFF;
    --color-text-regular: #8C98C6;
}